<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header">
                    <!-- <button class="pull-right" data-toggle="modal" data-target="#myModal" mat-raised-button
                        color="primary">Add Class Stream</button> -->
                </div>
                <!--/.box-header-->
                <div class="box-body">
                    <div class="row">
                        <form>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="hospitalName">Hospital Name</label>
                                    <input type="email" class="form-control" id="" placeholder="e.g. AIIMs Delhi">
                                  </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="abc@gmail.com">
                                  </div>
                            </div>
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mobile No.</label>
                                <input type="mobile" class="form-control" id="mobile" placeholder="mobile no.">
                              </div>
                        </div>
                    </form>
                    </div>
                    <div class="row">
                        <form>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control">
                                        <option>--Select--</option>
                                        <option>Delhi</option>
                                        <option>Uttar-Pradesh</option>
                                        <option>Hariyana</option>
                                        <option>Punjab</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>District</label>
                                    <select class="form-control">
                                        <option>--Select--</option>
                                        <option>South Delhi</option>
                                        <option>Noida</option>
                                        <option>Gurugram</option>
                                        <option>Chandigarh</option>
                                    </select>
                                  </div>
                            </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="e.g. South Delhi">
                              </div>
                        </div>
                    </form>
                    </div>
                    <div class="row">
                        <form>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Department Name</label>
                                    <select class="form-control">
                                        <option>--Select--</option>
                                        <option>Radiology Department (X-ray)</option>
                                        <option> Operation Theatre Complex (OT)</option>
                                        <option>Medical Department</option>
                                        <option>Outpatient department (OPD</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="hodName">H.O.D Name</label>
                                    <input type="text" class="form-control" id="" placeholder="name of head of department">
                                </div>
                            </div>
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="hodMobile">H.O.D Contact No.</label>
                                <input type="text" class="form-control" id="" placeholder="contact of head of department">
                            </div>
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                    </form>
                    </div>
                    <button mat-raised-button color="primary" class="pull-right" 
                            style="margin-top:23px; margin-bottom: 10px">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>

