<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header">
                </div>
                <!--/.box-header-->
                <div class="box-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="book_title">Doctor Name<span class="text-red">*</span></label>
                                    <input type="text" class="form-control"  placeholder="doctor name"> 
                                       
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="author_name">Mobile No.<span class="text-red">*</span></label>
                                    <input type="text" class="form-control" placeholder="mobile no."> 
                                        
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Upload Profile Pic <span class="text-red"> (.jpg*, .png*)</span></label>
                                    <div class="has-feedback">
                                        <input type="file" class="form-control input-md">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Email ID<span class="text-red">*</span></label>
                                    <input type="text" class="form-control" 
                                        placeholder="email id">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="publisher_name">Hospital Name<span class="text-red">*</span></label>
                                    <input type="text" class="form-control" 
                                        placeholder="hospital Name">
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Department Name</label>
                                    <select class="form-control">
                                        <option>--Select--</option>
                                        <option>Radiology Department (X-ray)</option>
                                        <option> Operation Theatre Complex (OT)</option>
                                        <option>Medical Department</option>
                                        <option>Outpatient department (OPD</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control">
                                        <option>--Select--</option>
                                        <option>Delhi</option>
                                        <option>Uttar-Pradesh</option>
                                        <option>Hariyana</option>
                                        <option>Punjab</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>District</label>
                                    <select class="form-control">
                                        <option>--Select--</option>
                                        <option>South Delhi</option>
                                        <option>Noida</option>
                                        <option>Gurugram</option>
                                        <option>Chandigarh</option>
                                    </select>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea type="text-area" row="4" class="form-control"
                                        placeholder="address"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>
                        <button type="submit" class="pull-right" style="margin-top:23px;" mat-raised-button
                                    color="primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
