.table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-bottom: 4px solid #f4f4f4!important;
  border-left: none !important;
  border-right: none !important;
}

.tbody {
  height:200px !important;
  overflow-y:auto !important;
}
