<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-danger">

        <!--/.box-header-->
        <div class="box-body">
          <mat-tab-group>
            <mat-tab label="Patient Summary">
              <section class="content" style="margin-top:23px;">
                <div class="row">
                  <div class="col-md-6">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Patient Information</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <!-- <th style="width: 10px">#</th>
                            <th>Task</th>
                            <th>Progress</th>
                            <th style="width: 40px">Label</th> -->
                            </tr>
                            <tr>
                              <th>Incident Date :</th>
                              <td>26/07/2021 | 10.10 am</td>
                              <th> PRF No. :</th>
                              <td> 231223</td>
                            </tr>
                            <tr>
                              <th>Call Attend by :</th>
                              <td>Vinod Singh</td>
                              <th> Case Type :</th>
                              <td> Cardiac Arrest</td>
                            </tr>
                            <tr>
                              <th>MR Dispatched by :</th>
                              <td>Nakul</td>
                              <th>Vehicle No. :</th>
                              <td>DL3S1237</td>
                            </tr>
                            <tr>
                              <th class="text-green">Attending MR's</th>
                            </tr>

                            <tr>
                              <th>MR-1:</th>
                              <td>Sudhir Singh</td>
                              <th>MR-2 :</th>
                              <td>Atul Singh</td>
                            </tr>
                            <tr>
                              <th>Patient Name :</th>
                              <td>Sanjay Singh</td>
                              <th> Gender/Age :</th>
                              <td> <span>Male,</span><span> 54</span></td>
                            </tr>
                            <tr>
                              <th>UHID :</th>
                              <td>0</td>
                            </tr>
                            <tr>
                              <th>Caller No. :</th>
                              <td>000 000 0000</td>
                              <th>Patient Contact No. :</th>
                              <td>000 000 0000</td>
                            </tr>
                            <tr>
                              <th>Patient Address: </th>
                              <td>B-246 Mayur Vihar 1, Delhi 96</td>
                              <th>Landmark :</th>
                              <td>Near Hanumaan Mandir</td>
                            </tr>
                            <tr>
                              <th>Next to Kin/ Accompanied by: </th>
                              <td>Minakshi</td>
                              <th>Relationship with Patient:</th>
                              <td>Daughter</td>
                            </tr>
                            <tr>
                              <th>Presenting Complaints / Events Onset:</th>
                              <td>Chest Pain</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>


                  </div>
                  <!-- /.col -->
                  <div class="col-md-6">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Primary Survey</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <!-- <th style="width: 10px">#</th>
                            <th>Task</th>
                            <th>Progress</th>
                            <th style="width: 40px">Label</th> -->
                            </tr>
                            <tr>
                              <th>Airway :</th>
                              <td><span class="fa fa-check text-green"></span> Occluded</td>
                              <td><span class="fa fa-times-circle-o text-danger"></span> Clear</td>
                              <td><span class="fa fa-times-circle-o text-danger"> </span> Noisy</td>
                              <td><span class="fa fa-times-circle-o text-danger"> </span> C-Spine</td>
                            </tr>
                            <tr>
                              <th>Breathing :</th>
                              <td><span class="fa fa-check text-green"> </span> Normal</td>
                              <td><span class="fa fa-times-circle-o text-danger"> </span> Abnormal</td>
                              <td><span class="fa fa-times-circle-o text-danger"></span> Absent</td>
                            </tr>
                            <tr>
                              <th>Pulse :</th>
                              <td><span class="fa fa-check text-green"></span> Present</td>
                              <td><span class="fa fa-times-circle-o text-danger"> </span> Regular</td>
                              <td><span class="fa fa-times-circle-o text-danger"></span> Irregular</td>
                              <td><span class="fa fa-times-circle-o text-danger"></span> Absent</td>
                            </tr>
                            <tr>
                              <th>AVPU Scale :</th>
                              <td><span class="fa fa-check text-green"> </span> Alert</td>
                              <td><span class="fa fa-times-circle-o text-danger"> </span> Voice</td>
                              <td><span class="fa fa-times-circle-o text-danger"> </span> Pain</td>
                              <td><span class="fa fa-times-circle-o text-danger"> </span> Unresponsive</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Action Taken</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <!-- <th style="width: 10px">#</th>
                            <th>Task</th>
                            <th>Progress</th>
                            <th style="width: 40px">Label</th> -->
                            </tr>
                            <tr>
                              <th>Action Taken :</th>
                              <td> Not Available</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->

                    </div>
                    <!-- /.box -->
                  </div>
                </div>
                <!--/row/-->
                <!--secondary Survey--------------------------->
                <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Secondary Survey</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Time</th>
                              <th>Temp</th>
                              <th>Pulse</th>
                              <th>RR</th>
                              <th>BP</th>
                              <th>SPO2</th>
                              <th>GRBS</th>
                              <th>Pain Scale (0-10)</th>
                              <th>Capillary Refill</th>
                            </tr>
                            <tr>
                              <td>26/07/2021 10.10 am</td>
                              <td>95 F</td>
                              <td> 80 bpm</td>
                              <td> 00 bpm mm/Hg</td>
                              <td> 00/00</td>
                              <td> 00% mg/dl</td>
                              <td> 00</td>
                              <td> 0</td>
                              <td> >2 sec.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <!--Cardiologist Remark-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Cardiologist Remark</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>S.No.</th>
                              <th>ECG Taken Time</th>
                              <th>Cardiologist Remarks</th>
                              <th>Cardiologist Name</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>26/07/2021 10.10 am</td>
                              <td> Test</td>
                              <td> Harish Singh</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <!--/remark---->
                  <div class="col-md-6">
                    <!--pupil-->
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Pupils</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>S.No.</th>
                              <th>Time</th>
                              <th>Reaction(Y/N)-R</th>
                              <th>Reaction(Y/N)-L</th>
                              <th>Size (N/C/D)</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>26/07/2021 10.10 am</td>
                              <td> No</td>
                              <td> No</td>
                              <td> Dialated</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <!--Doctor Remarks--------------------------->
                <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Doctor Remarks</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>S.No.</th>
                              <th>Lead Type</th>
                              <th>ECG Time</th>
                              <th>Rhythm</th>
                              <th>Protocols</th>
                              <th>Repeat ECG Time</th>
                              <th>Transmitted</th>
                              <th>Advice from Dispatch</th>
                              <th>Intervention</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>----</td>
                              <td>26/07/2021 10.10 am</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <!--Medication Fluids-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Medication Fluids</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>S.No.</th>
                              <th>Time</th>
                              <th>Drugs/Dose</th>
                              <th>Route</th>
                              <th>Medication History</th>
                              <th>Medication History Duraion</th>
                              <th>MR-1 Sign</th>
                              <th>MR-2 Sign</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>26/07/2021 10.10 am</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                              <td>--</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <!--/remark---->
                  <div class="col-md-6">
                    <!--pupil-->
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Cardiac Arrest</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Cardiac Arrest:</th>
                              <td><span class="fa fa-check text-green"></span> Yes</td>
                              <td><span class="fa fa-times-circle-o text-danger"></span> --</td>
                            </tr>
                            <tr>
                              <th>Time of Arrest :</th>
                              <td> 26/07/2021 10.10 am</td>
                            </tr>
                            <tr>
                              <th>Initial Rhythm :</th>
                              <td>Assystole</td>
                            </tr>
                            <tr>
                              <th>CPR Performed :</th>
                              <td><span class="fa fa-check text-green"></span> Yes</td>
                              <td><span class="fa fa-times-circle-o text-danger"></span> --</td>
                            </tr>
                            <tr>
                              <th>No. of Shocks :</th>
                              <td> 0</td>
                            </tr>
                            <tr>
                              <th>Time Resus, Creased at :</th>
                              <td> Not Available</td>
                            </tr>
                            <tr>
                              <th>CPR Stated Time :</th>
                              <td> 26/07/2021 10.10 am</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <!--Time-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Time</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>En Route Timings</th>
                              <th>Date & Time</th>
                              <th>Odometer Details</th>
                            </tr>
                            <tr>
                              <td>Call Connect to Cats Time</td>
                              <td>Not Available</td>
                              <td>Not Available</td>
                            </tr>
                            <tr>
                              <td>Case Assign Time</td>
                              <td>12-07-21 11.00 am</td>
                              <td>--</td>
                            </tr>
                            <tr>
                              <td>FR Start Time</td>
                              <td>12-07-21 11.00 am</td>
                              <td>13399</td>
                            </tr>
                            <tr>
                              <td>FR Scene Arrival Time</td>
                              <td>12-07-21 11.00 am</td>
                              <td>99898</td>
                            </tr>
                            <tr>
                              <td>CATS Scene Arrival time</td>
                              <td>14-07-21 11.00 am</td>
                              <td>99990</td>
                            </tr>
                            <tr>
                              <td>Handover to CATS Time</td>
                              <td>14-07-21 11.00 am</td>
                              <td>68877</td>
                            </tr>
                            <tr>
                              <td>FR Scene Departure Time</td>
                              <td>14-07-21 11.00 am</td>
                              <td>68877</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <!--/remark---->
                  <div class="col-md-6">
                    <!--Thrombolysis-->
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Thrombolysis Quesstionnaire</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Question :</th>
                              <td></td>
                            </tr>
                            <tr>
                              <th>Answer :</th>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Consent for Thrombolysis</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Taken :</th>
                              <td><input type="checkbox" id="chacked"  name=""></td>
                              <th>Not Taken :</th>
                              <td><input type="checkbox"  name=""></td>
                              <th>Skipped :</th>
                              <td><input type="checkbox"  name=""></td>
                            </tr>
                          
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <!--Statement of patient--------------------------->
                <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Statement of Patient / Gaurdian (whatever possible, witness details should be obtained)</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <div class="timeline-item">
                          <span class="time pull-right text-muted">
                            <i class="fa fa-clock-o "></i>
                            12-08-21 | 12:05</span>
                          <h3 class="timeline-header">Consent Type : <span class="text-sm"> General Consent</span></h3>
                          <div class="timeline-body">
                            I hereby consent and authorised phisicianand medical personnel to administer
                            and perform medical examination, investigations, medical treatments, pre-hospital procedures,
                            use of information for research purpose duringthe course of patient care be the deemed 
                            advisory of necessary.
                          </div>
                          <div class="timeline-footer" style="padding-top:10px">
                            <h3 class="timeline-header">Patient/Relative Signature : 
                              <span class="text-md"> <input type="text"></span></h3>
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <!--history --allergies--time-->
                <div class="row">
                  <div class="col-md-4">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">History</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Present Complaint: </th>
                              <td>others, cardiac arrest</td>
                            </tr>
                            <tr>
                              <th>Past Medical/ Surgical History</th>
                              <td>6-DM, HTN </td>
                            </tr>
                            <tr>
                              <th>Past Cardiac:</th>
                              <td>other, PTCA</td>
                            </tr>
                            <tr>
                              <th>Test & Report :</th>
                              <td>Null</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <!--/history---->
                  <div class="col-md-4">
                    <!--allergies-->
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Allergies</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            
                            <tr>
                              <td>Not Known</td>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!--time-->
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Time</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Time:</th>
                              <td> HH:MM:SS</td>
                            </tr>
                            <tr>
                              <th>Last Meal:</th>
                              <td> 12-08-21 12:02:00</td>
                            </tr>
                            <tr>
                              <th>Chest Pain Onset:</th>
                              <td> 12-08-21 12:02:00</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>

                <!--assessment-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Scene Assessment</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Scene Assessment :</th>
                              <td><span><input type="checkbox"></span> Home</td>
                              <td><span><input type="checkbox"></span> Work</td>
                              <td><span><input type="checkbox"></span> Public</td>
                              <td><span><input type="checkbox"></span> Others</td>
                            </tr>
                            <tr>
                              <th>Others :</th>
                              <td>--</td>
                            </tr>
                            <tr>
                              <th>Drugs? :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>vomiting? :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>Chest pain? :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>Restlessness? :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>Sweating? :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>Breathlessness? :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <!--/assessment---->
                  <div class="col-md-6">
                    <!--cannulation-->
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Cannulation</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Others :</th>
                              <td>--</td>
                            </tr>
                            <tr>
                              <th>Is Cannulation Done? :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>Intravenous(IV) :</th>
                              <td> Size</td>
                            </tr>
                            <tr>
                              <th>Successful :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>Done by :</th>
                              <td>--</td>
                              <td>--</td>
                            </tr>
                            <tr>
                              <th>No. of Attempts :</th>
                              <td>--</td>
                              <td>--</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                 <!--patient handover-->
                 <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Patient Transferred & Handover to </h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body table-responsive">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Is Hospital Handover Required :</th>
                              <td><span><input type="checkbox"></span> Yes</td>
                              <td><span><input type="checkbox"></span> No</td>
                            </tr>
                            <tr>
                              <th>Reason :</th>
                              <td>Patient went by own vehicle rather than ambulance</td>
                              <td><span><input type="checkbox"></span> AIIMS</td>
                              <td><span><input type="checkbox"></span> Other</td>
                            </tr>
                            <tr>
                              <th>If Other? :</th>
                              <td><span><input type="checkbox"></span> CCU</td>
                              <td><span><input type="checkbox"></span> Cath Lab</td>
                              <td><span><input type="checkbox"></span> ED</td>
                            </tr>
                            <tr>
                              <th>Receiving Nurse :</th>
                              <td><h3 class="timeline-header"> 
                                <span class="text-md"> Sign: <input type="text" style="height:60px"></span></h3></td>
                                <th>Receiving Doctor :</th>
                                <td><h3 class="timeline-header"> 
                                  <span class="text-md"> Sign: <input type="text" style="height:60px"></span></h3></td>
                            </tr>
                            <tr>
                              <th>Time :</th>
                              <td>Not Available</td>
                            </tr>
                            <tr>
                              <th>MR-1 :</th>
                              <td><h3 class="timeline-header"> 
                                <span class="text-md"> Sign: <input type="text" style="height:60px"></span></h3></td>
                                <th>MR-2 :</th>
                                <td><h3 class="timeline-header"> 
                                  <span class="text-md"> Sign: <input type="text" style="height:60px"></span></h3></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                  <!--/assessment---->
                </div>
              </section>
            </mat-tab>
            <!--patient summary-->
            <mat-tab label="ECG Report "> ECG Report </mat-tab>

            <mat-tab label="Doctor Prescription"> 
               <!--Doctor Prescription"-->
               <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Doctor Prescription</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Is it STEMI? :</th>
                            <td><span><input type="radio"></span> Yes</td>
                            <td><span><input type="radio"></span> No</td>
                          </tr>
                          <tr>
                            <th>Others :</th>
                            <td>--</td>
                          </tr>
                          <tr>
                            <th>Drugs? :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                          <tr>
                            <th>vomiting? :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                          <tr>
                            <th>Chest pain? :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                          <tr>
                            <th>Restlessness? :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                          <tr>
                            <th>Sweating? :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                          <tr>
                            <th>Breathlessness? :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <!--/Doctor Prescription"---->
                <div class="col-md-6">
                  <!--drug name-->
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Cannulation</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Others :</th>
                            <td>--</td>
                          </tr>
                          <tr>
                            <th>Is Cannulation Done? :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                          <tr>
                            <th>Intravenous(IV) :</th>
                            <td> Size</td>
                          </tr>
                          <tr>
                            <th>Successful :</th>
                            <td><span><input type="checkbox"></span> Yes</td>
                            <td><span><input type="checkbox"></span> No</td>
                          </tr>
                          <tr>
                            <th>Done by :</th>
                            <td>--</td>
                            <td>--</td>
                          </tr>
                          <tr>
                            <th>No. of Attempts :</th>
                            <td>--</td>
                            <td>--</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>